/*font styles*/

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 150px 0 150px;
}

/*nav styles*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-elements {
  display: flex;
  list-style: none;
  gap: 20px;
}
.nav-elements li a {
  text-decoration: none;
}
.list-item1 {
  color: #1e1e1e;
}
figure {
  margin-top: 15px;
}

.list-item3 {
  color: #1e1e1e;
  font-weight: 49px;
  font-size: 18px;
}
.color-gray {
  color: #8987a1;
}
/*banner design*/
.banner {
  display: flex;
  margin: 0 170px;
  align-items: center;
  width: 1140px;
  height: 440px;
}
.banner-image {
  width: 570px;
  height: 355px;
  top: 88px;
  left: 0px;
  margin-top: 20px;
  margin-left: 20px;
}
.banner-heading {
  font-weight: 700px;
  font-size: 65px;
  font-family: "Noto Serif";
  margin-top: 110px;
}
.banner-content {
  font-weight: 400px;
  font-size: 22px;
  margin-top: 30px;
}
.banner-content-container {
  margin: 150px 0;
}
/*plants section*/
.plants {
  text-align: center;
}
.plants-heading {
  font-size: 50px;
  font-weight: bold;
}

/*Card Design*/

.cards-all .card img {
  height: 323px;
  width: 270px;
}
.btn a {
  color: white;
  text-decoration: none;
}
.btn {
  height: 50px;
  width: 270px;
  background-color: #e95a08;
  border: none;
  margin-bottom: 20px;
}
.cards-all {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin: 40px 180px;
  align-items: center;
}
.card {
  text-align: center;
  margin-bottom: 10px 10px;
}
/* plant lover section*/
.plant-lover {
  margin: 0 170px;
  display: flex;
  align-items: center;
}
.plant-lover-image {
  position: relative;
  width: 520px;
  height: 570px;
}

.main-image {
  width: 420px;
  height: 470px;
  display: block;
  margin-top: 140px;
  margin-right: 70px;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 256px;
  height: 256px;
  transform: rotate(5deg);
  margin: 0 10px;
}
.plant-lover-content {
  margin-left: 60px;
}
.plant-lover-heading {
  font-size: 50px;
  font-weight: bold;
  margin-top: 30px;
}
.plant-lover-contents {
  font-size: 22px;
}
.plant-lover-content ul li {
  margin-top: 20px;
}
/*lastest deal*/
.lastest-deal-container {
  text-align: center;
  margin-top: 90px;
  ba
}
.lastest-deal-heading {
  font-weight: bold;
  font-size: 50px;
}
.lastest-deal-content {
  font-size: 22px;
}
.sixtyoff{
  width: 266px;
  height: 206px;
  background-image: url(./assets/deal-bloom.png);
  border-radius: 10px;
}
.thirtyoff{width: 266px;
  height: 206px;
  background-image: url(./assets/deal-ana.png);
  border-radius: 10px;
}
.twentyfiveoff{
  width: 753px;
  height: 423px;
  background-image: url(./assets/deal-zabo.png);
  border-radius: 10px;
}

.lastest-deal-images{
  display: flex;
  margin: 30px 150px;
}
